.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 6vh;
}

.headerContainer img {
  margin-right: 10px;
}

.headerLogo {
  margin-left: 4rem;
  height: 100%;
}

.headerSocial {
  margin-right: 6rem;
  height: 100%;
  width: 12%;
}
