.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 0;
    img {
        margin-right: 10px;
    }
}

.header-logo {
    margin-left: 7rem;
}

.header-social-media {
    margin-right: 12rem;
}
  