.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2% 5rem 5%;
  min-height: 100vh;
}

.main h1 {
  max-width: 369px;
  max-height: 285px;
  margin-left: -6%;
  text-align: left;
  font: normal normal 900 4.2vw/4.2vw Roboto;
  color: var(--primary-text);
}

@media only screen and (min-width: 1920px) {
  .main h1 {
    max-width: 369px;
    max-height: 285px;
    margin-left: -14%;
    text-align: left;
    font: normal normal 900 89px/89px Roboto;
    color: var(--primary-text);
  }
}

.backgroundImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 63.3%;
  height: 75.6%;
  background: no-repeat padding-box;
  background-size: contain;
  mix-blend-mode: soft-light;
  opacity: 0.55;
  pointer-events: none;
}

.cardsContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  align-items: flex-end;
  height: 42vh;
}
