.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 2rem;
  min-height: 100vh;
}

.main h1 {
  max-width: 369px;
  max-height: 285px;
  margin-left: -10rem;
  text-align: left;
  font: normal normal 900 4.7vw/4.7vw Roboto;
  color: var(--primary-text);
}

.backgroundImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 63.3%;
  height: 75.6%;
  background: no-repeat padding-box;
  background-size: contain;
  mix-blend-mode: soft-light;
  opacity: 0.55;
  pointer-events: none;
}

.cardsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  transaction: translateX(-50%);
}
