.lateralMenu {
  position: fixed;
  top: 0;
  right: 0;
}

.iconMenu {
  /* 1A - Make burguer menu stay behind the navigation menu */
  position: relative;
  color: #fff;
  margin-top: 54px;
  margin-right: 40px;
  cursor: pointer;
}

.barMenu {
  /* 1A - Complement */
  position: absolute;
  top: 0;
  right: 0;

  transition: 0.3s all;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.91;
  height: 100vh;
}

.menuClosed {
  width: 0;
}

.menuOpened {
  width: 420px;
}

.closedContainer {
  width: 100%;
  text-align: end;
}

.iconClosed {
  margin-top: 53px;
  margin-right: 38px;
  cursor: pointer;
}

.navigationMenu {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.navItem {
  color: #f98988;
  text-decoration: none;
  font: normal normal 300 35px/45px Roboto;
  line-height: 4rem;
  transition: 0.4s;
}

.navItem:hover {
  color: #fff;
  background-color: #f98988;
}
